/*  your css code here. If applicable */
body {
      margin: 0;
      font-family: 'Arial', sans-serif;
    }

    .container {
      width: 300px;
      height: px;
      margin: 50px auto;
      padding: 20px;
      border: 2px solid #333;
      display: flex;
      justify-content: space-around;
      align-items: center;
		gap:5%;
		border-radius: 10%;
		background-color:grey;
		
    }

    .circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .red {
      background-color: red;
    }

    .green {
      background-color: green;
    }

    .yellow {
      background-color:yellow;
    }